
*{
    margin:0;       /*Sirve para hacer que todo componente esté pegado a la ventana*/
}

body{
    background-image: url(../src/imagenDeFondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}


nav{
    background-color: aqua;
    height: 5em;
    border: dotted;
}

ul{
    display: flex;  /*permite poner en linea horizontal todos los elementos del listado*/
    position: absolute;
    justify-content: space-evenly;
    width: 100%;
    top: 25%;
    margin: 0;
    margin-inline-start: 0;
    padding-inline-start: 0;
}

li{
    list-style-type:none;
}

li.fuenteNav{

    font-size: calc(0.5em + 1vw);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.divNav{
    position: relative;

}

section.descripcion{
    width: 25em;
    text-align: justify;
}

p.descripcion{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: solid;
    border-color: #FCC861;
    border-radius: 2em;
    min-height: 12em;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

div.descripcion{
    display: flex;
    padding-top: 2em;
    padding-left: 5em;
    align-items: center;
    justify-content: center;
    padding-right: 5em;
    flex-wrap: wrap;
    gap: 2em;
}

h2.descripcion{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: solid;
    border-color: #A491D3;
    text-align: center;
    border-radius:2em;
}

a{
    text-decoration: none;
    color: black;
}

footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border: solid;
    background-color: cornflowerblue;
    text-align: center;
}


div.center{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    padding-right: 5em;
    padding-left: 5em;
    margin-bottom: 2em;
}