*{
    margin: 0;
}

body{
    background-image: url(../src/imagenDeFondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    background-color: aqua;
    height: 6em;
    border: dotted;
}

ul{
    display: flex;  /*permite poner en linea horizontal todos los elementos del listado*/
    position: absolute;
    justify-content: space-evenly;
    width: 100%;
    top: 25%;
    margin: 0;
    margin-inline-start: 0;
    padding-inline-start: 0;
}

li{
    list-style-type:none;

}

li.fuenteNav{
    font-size: calc(0.5em + 1vw);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.divNav{
    position: relative;
}

a{
    text-decoration: none;
    color: black;
}

button{
    margin-left: 1em;
    width: 3em;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    border: 1px solid;
    border-radius: 1em;
    cursor: pointer;
    margin-top: 5px;
}

#boton-agregar{
    width: auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    margin: 0 10px;
    cursor: pointer;
}

#boton-buscar{
    margin-left: 1em;
    width: 10em;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    border: 1px solid;
    border-radius: 1em;
    cursor: pointer;
    margin-top: 8px;
}

input.text{
    border: 1px solid;
    border-radius: 2em;
    width: 25em;
    height: 2em;
    outline: none;
    background-color: #FFFF;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1em;
}

div.global{
    
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div.userItem {
    position: relative; /* Agregamos posición relativa al div */
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2em;
    margin-left: 2em;
    margin-top: 2em;
    border-radius: 2em;
    border: solid;
    background-color: aliceblue;
}


div.cabeceraSecundaria {
    display: flex;
    margin-top: 1em;
    margin-left: 2em;
}

div.cabeceraSecundaria a {
    margin-left: auto;
    align-self: flex-end;
    margin-bottom: 3em;
}

div.botonesEliminarEditarProductos{
    margin-top: 1em;
}